body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
    margin-top: 100px;
}

#welcome {
    position: absolute;
    overflow: hidden;
    color: #FFFFFF;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 40px;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: cursive;
}

#Bio {
    padding: 100px;
    text-align: center;
    font-size: 42px;
    background: linear-gradient(#7fffd4 0%, #deb887 100%);
}

#h10 {
    font-family: sans-serif;
    text-shadow: 2px 3px #abb3ff;
}

.line {
    height: 14px;
    background-color: #000;
    width: 100px;
    margin: 8px auto;
}

p {
    text-align: center;
    font-size: 17px;
    line-height: 1.3;
}

.HI {
    font-size: 24px;
    font-family: monospace;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
    font-family: 'Gluten', cursive;
}

.links {
    float: left;
    color:white;
    padding-top: 5px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    background-color: dodgerblue;
}

#Videos {
    padding: 100px;
    text-align: center;
    font-size: 42px;
    background: linear-gradient(#FF7F50 0%, #FF69B4 100%)
}

#Discord {
    padding: 100px;
    text-align: center;
    font-size: 42px;
    background: linear-gradient(#D3D3D3 0%, #90EE90 100%)
}

.discord:hover {
    color:cyan;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    font-size: 30px;
}  

#Inspireation {
    padding: 100px;
    text-align: center;
    font-size: 42px;
}